body {
  background-color: lightblue;
  
}

h1 {
  text-align: center;
}
p {
  color: orange;
  font size: 20;
  text-align: center;
}

ul {
   color: orange;
   text-align: center;
}
h2 {
  text-align: center;
}
ul2{
  color: gold;
  text-align: center;
}
h3 {
  text-align: center;
}
