body {
  background-color: lightblue;
  
}

h1 {
  text-align: center;
}
p {
  color: dark blue;
  font size: 20;
  text-align: center;
}

ul {
   color: dark blue;
  
}
h2 {
  text-align: center;
}
ul2{
  color: dark blue;
  
}
h3 {
  text-align: center;
}
h4{
  font size: 40;
  text-align: center;
}
p2{
  color: dark blue;
}
a{
  text-align: center:
}
